/* AboutPage.css */

.about-container {
    max-width: 800px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    background-image: url('./images/backgroundImage2.png');
    background-size: cover;
    background-position: center;
    color: #2c3e50;
    background-size: cover;
    background-position: center;
}

.about-container h2 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 24px;
}

.about-container p {
    text-align: justify;
    line-height: 1.6;
    color: #666;
    margin-bottom: 16px;
}

.about-container a {
    color: #3498db;
    text-decoration: none;
}

.about-container a:hover {
    text-decoration: underline;
}

/* Style for FontAwesome icons */
svg {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
