.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.text-area {
    width: 98%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.analyze-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.analyze-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.analyze-btn:hover {
    background-color: #0056b3;
}

.result-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.title {
    text-align: center; /* Center the text */
    margin-bottom: 30px; /* Increased margin bottom for better spacing */
    font-size: 32px; /* Increased font size for emphasis */
    color: #333; /* Changed font color to a darker shade */
    text-transform: uppercase; /* Convert text to uppercase for emphasis */
    letter-spacing: 2px; /* Increased letter spacing for readability */
}

