.container {
    width: 100vw; /* Set width to 100% of the viewport width */
    height: 100vh; /* Set height to 100% of the viewport height */
    padding: 0; /* Optional: Remove padding if you want content to extend to the edges */
    border: none; /* Optional: Remove border if not needed */
    box-shadow: none; /* Optional: Remove shadow if not desired */
    background-color: transparent; /* Adjust background color as needed */
    margin: 0 auto; /* Remove any auto margin to align to the top */
    background-image: url('./backgroundImageWhite.png');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}


.text-area {
    width: 98%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: var(--error-color);
    font-size: var(--font-size-medium);
    margin-top: 20px;
    padding: 8px;
    background-color: #ffeeee;
    border: 1px solid #ffcccc;
    border-radius: 8px;
    width: 40%;
    text-align: center;
    box-sizing: border-box;
}

.result-container {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.title {
    text-align: center; /* Center the text */
    margin-bottom: 30px; /* Increased margin bottom for better spacing */
    font-size: 32px; /* Increased font size for emphasis */
    color: #333; /* Changed font color to a darker shade */
    text-transform: uppercase; /* Convert text to uppercase for emphasis */
    letter-spacing: 2px; /* Increased letter spacing for readability */
}

