.header {
    background-color: #DAA5AD;
    color: #FFFFFF;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

    .header-link, .header button {
        color: inherit;
        background: none;
        border: none;
        outline: none;
        margin: 0 15px;
        text-decoration: none;
        font-size: 18px;
        transition: color 0.3s ease;
        cursor: pointer;
    }

        .header-link:hover, .header button:hover,
        .header-link:focus, .header button:focus {
            color: #5C3A41;
        }

.active-link {
    font-weight: bold; /* Example: Make active link text bold */
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
    }

        .header-link, .header button {
            margin: 10px 0;
        }
}
