:root {
    --primary-color: #DAA5AD; /* Soft rose for primary actions */
    --secondary-color: #F39C12; /* Complementary color for secondary actions */
    --background-color: #FFFFFF; /* White background */
    --text-color: #5C3A41; /* Dark rose color for text */
    --error-color: #FF6B6B; /* Soft red for errors */
    --success-color: #4CAF50; /* Green for success messages */
    --font-size-medium: 16px; /* Adjusted font size for consistency */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Improved typography */
    background-color: var(--background-color); /* White background */
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: var(--error-color); /* Soft red for error messages */
    margin-bottom: 15px;
}

/* Login button */
.login-btn {
    padding: 10px;
    background-color: var(--primary-color); /* Soft rose color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: var(--font-size-medium); /* Adjusted font size for consistency */
}

    .login-btn:hover {
        background-color: #E88FA7; /* Darker rose color on hover for feedback */
    }

/* Register button */
.register-link {
    display: block;
    text-align: center;
    margin-top: 20px; /* Add margin to separate from other elements */
    text-decoration: none;
    color: var(--primary-color); /* Soft rose color */
    transition: color 0.3s; /* Smooth transition for color change */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: var(--font-size-medium); /* Adjusted font size for consistency */
}

    .register-link:hover {
        color: #E88FA7; /* Darker rose color on hover */
    }

.logo {
    width: 100px; /* Adjust the width as needed */
    margin-bottom: 20px; /* Add margin for spacing */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
