
body {
    margin: 0;
    padding: 0;
}

.login-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.input-field {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

/* Login button */
.login-btn {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px; /* Set font size for login button */
}

    .login-btn:hover {
        background-color: #0056b3;
    }

/* Register button */
.register-link {
    display: block;
    text-align: center;
    margin-top: 20px; /* Add margin to separate from other elements */
    text-decoration: none;
    color: #007bff; /* Button color */
    transition: color 0.3s; /* Smooth transition for color change */
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px; /* Set font size for register button */
}

    .register-link:hover {
        color: #0056b3; /* Darker color on hover */
    }

.logo {
    width: 100px; /* Adjust the width as needed */
    margin-bottom: 20px; /* Add margin for spacing */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
