/* RegisterPage.css */

body {
    margin: 0;
    padding: 0;
}

.register-container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.register-content {
    width: 90%; /* Adjust the width as needed */
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.error-message,
.success-message {
    margin-bottom: 10px;
}

.error-message {
    color: #c82333;
}

.success-message {
    color: green;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container button[type="submit"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px; /* Set font size for consistency */
}

.register-container button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .register-container button[type="submit"]:hover {
        background-color: #0056b3;
    }

.back-to-login {
    background-color: #dc3545; /* Red color */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none; /* Remove underline from the link */
    margin-bottom: 10px; /* Add margin below the button */
    margin-left: 85px; /* Add margin below the button */
    padding: 8px 16px; /* Adjust padding for smaller button */
    border-radius: 5px;
    align-self: flex-start; /* Align button to the start of the container */
}
