/* RegisterPage.css */

:root {
    --primary-color: #DAA5AD; /* Soft rose for primary actions */
    --secondary-color: #F39C12; /* Complementary color for secondary actions */
    --background-color: #FFFFFF; /* White background */
    --text-color: #5C3A41; /* Dark rose color for text */
    --error-color: #FF6B6B; /* Soft red for errors */
    --success-color: #4CAF50; /* Green for success messages */
    --font-size-medium: 16px; /* Adjusted font size for consistency */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Improved typography */
    background-color: var(--background-color); /* White background */
}

.logo {
    width: 120px;
}

.register-container {
    width: 70%;
    min-height: 100vh;
    display:flow;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
}

    .register-container h2 {
        text-align: center;
        margin-bottom: 20px;
        color: var(--primary-color); /* Set primary color for heading */
        font-size: 32px; /* Larger font size for heading */
        font-weight: bold; /* Apply bold font weight */
        text-transform: uppercase; /* Convert text to uppercase */
        letter-spacing: 2px; /* Add letter spacing for emphasis */
    }

.error-message,
.success-message {
    margin-bottom: 10px;
    width: 40%;
    text-align: center;
    box-sizing: border-box;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(75%, 0); /* Offset to center properly */
}

.error-message {
    color: var(--error-color);
    font-size: var(--font-size-medium);
    margin-top: 20px;
    padding: 8px;
    background-color: #ffeeee;
    border: 1px solid #ffcccc;
    border-radius: 8px;
}

.success-message {
    color: var(--success-color); /* Green for success messages */
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="role"],
.register-container button[type="submit"],
.register-container select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: var(--font-size-medium); /* Adjusted font size for consistency */
}

.passwordFormat {
    font-size: 14px;
    color: var(--error-color); /* Soft red for error messages */
    position: relative; /* Position it relative to the input field */
    display: none; /* Initially hidden */
}

#password:hover + .passwordFormat {
    display:flex; /* Display the password format requirement when hovering over the password field */
}

.register-container button[type="submit"] {
    background-color: var(--primary-color); /* Soft rose color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .register-container button[type="submit"]:hover {
        background-color: #E88FA7; /* Darker rose color on hover for feedback */
    }

.back-to-login {
    background-color: var(--error-color); /* Soft red for error messages */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 8px 16px;
    border-radius: 5px;
}

.register-container select {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: var(--font-size-medium); /* Adjusted font size for consistency */
}

    /* Style for the select options */
    .register-container select option {
        padding: 10px;
        font-size: var(--font-size-medium);
        background-color: #fff; /* Background color */
        color: var(--text-color); /* Text color */
    }

    /* Style for the select when it's focused */
    .register-container select:focus {
        outline: none; /* Remove default focus outline */
        border-color: var(--primary-color); /* Soft rose color for focus */
    }
